<template>
  <div class="create-speaker">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('add-speaker') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.firstName"
            :label="$t('first-name')"
            name="first_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.middleName"
            :label="$t('middle-name')"
            name="middle_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.lastName"
            :label="`${$t('last-name')} *`"
            name="last_name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.type"
            :options="types"
            :label="$tc('types', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="record_voice_over" />
            </template>
          </q-select>

          <q-input
            filled
            v-model="form.email"
            :label="`${$t('email')} *`"
            name="email"
            type="email"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              isValidEmail
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="alternate_email" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.phone"
            :label="`${$t('phone')} *`"
            name="phone"
            type="tel"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="phone" />
            </template>
          </q-input>

          <q-file
            filled
            :label="$t('cv')"
            accept=".pdf, .doc, .docx"
            v-model="form.cv"
          >
            <template v-slot:prepend>
              <q-icon name="folder_open" />
            </template>
          </q-file>

          <q-editor v-model="form.biography" min-height="5rem" />

          <q-input
            filled
            v-model="form.themes"
            :label="`${$tc('themes', 2)} *`"
            name="themes"
            type="textarea"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="description" />
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { createUser } from 'api/user'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'CreateSpeaker',

  data () {
    return {
      form: {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        role: 'speaker',
        biography: '',
        cv: null,
        themes: '',
        type: 'regular'
      },
      types: [
        { label: this.$t('keynote-speaker'), value: 'keynote' },
        { label: this.$t('workshop-speaker'), value: 'regular' }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const formData = new FormData()

        formData.append('first_name', this.form.firstName)
        formData.append('middle_name', this.form.middleName)
        formData.append('last_name', this.form.lastName)
        formData.append('email', this.form.email)
        formData.append('phone', this.form.phone)
        formData.append('role', this.form.role)
        formData.append('type', this.form.type)
        formData.append('biography', this.form.biography)
        formData.append('cv', this.form.cv)
        formData.append('themes', this.form.themes)

        await createUser(formData)

        // Redirect to speakers page
        this.$router.push({ name: 'Speakers' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('user-created'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        type: 'regular',
        biography: '',
        cv: null,
        themes: ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.q-page {
  margin: auto;
  width: 50%;
}
</style>
