<template>
  <div class="create-topic">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('add-topic') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.name"
            :label="`${$t('name')} *`"
            name="name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="topic" />
            </template>
          </q-input>

          <q-input
            filled
            type="textarea"
            v-model="form.description"
            :label="$t('description')"
            name="description"
          >
            <template v-slot:prepend>
              <q-icon name="description" />
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { createTopic } from 'api/topic'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'CreateTopic',

  data () {
    return {
      form: {
        name: '',
        description: ''
      },
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        await createTopic(this.form)

        // Redirect to topics page
        this.$router.push({ name: 'Topics' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('topic-created'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        name: '',
        description: ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.q-page {
  margin: auto;
  width: 50%;
}
</style>
