<template>
  <div class="edit-topic">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('edit-topic') }}
        </div>

        <q-form
          @submit="onSubmit"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.name"
            :label="`${$t('name')} *`"
            name="name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="topic" />
            </template>
          </q-input>

          <q-input
            filled
            type="textarea"
            v-model="form.description"
            :label="$t('description')"
            name="description"
          >
            <template v-slot:prepend>
              <q-icon name="description" />
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { getTopic, updateTopic } from 'api/topic'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'EditTopic',

  data () {
    return {
      topicId: this.$route.params.id,
      form: {
        name: '',
        description: ''
      },
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mTopic () {
      return this.$store.state.topics.topic
    }
  },

  methods: {
    async getTopic () {
      try {
        this.error = false

        const response = await getTopic(this.topicId)

        const topic = response.data

        // Set form data
        this.form.name = topic.name
        this.form.description = topic.description

        // Commit topic to store
        this.$store.commit('topics/setTopic', topic)
      }  catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        await updateTopic(this.topicId, this.form)

        // Redirect to topics page
        this.$router.push({ name: 'Topics' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('topic-edited'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  mounted () {
    this.getTopic()
  }
}
</script>

<style lang="scss" scoped>
.q-page {
  margin: auto;
  width: 50%;
}
</style>
