<template>
  <div class="topics">
    <q-page class="q-pa-md">
      <q-table
        :title="$tc('topics', 2)"
        :data="mTopics"
        :columns="columns"
        row-key="name"
        :loading="loading"
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <template v-slot:body="props">
          <topic-table-row :props="props" @topic-deleted="onTopicDelete" />
        </template>
      </q-table>

      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn :to="{ name: 'CreateTopic' }" fab icon="add" color="primary" />
      </q-page-sticky>
    </q-page>
  </div>
</template>

<script>
import { getTopics } from 'api/topic'
import TopicTableRow from 'components/Topics/TableRow'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'Topics',

  components: { TopicTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mTopics () {
      return this.$store.state.topics.topics
    },

    columns () {
      return [
        {
          name: 'name',
          required: true,
          label: this.$t('name'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'description', align: 'left', label: this.$t('description'), field: 'description', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getTopics () {
      try {
        this.loading = true
        this.error = false

        const response = await getTopics()

        this.loading = false

        const topics = response.data

        // Commit topics to store
        this.$store.commit('topics/setTopics', topics)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onTopicDelete (id) {
      const topics = this.mTopics.filter(t => t.id !== id)

      this.$store.commit('topics/setTopics', topics)
    }
  },

  async mounted () {
    this.getTopics()
  }
}
</script>
