<template>
  <q-tr :props="props">
    <q-td key="name" :props="props">
      {{ props.row.name }}
    </q-td>

    <q-td key="email" :props="props">
      {{ props.row.email }}
    </q-td>

    <q-td key="phone" :props="props">
      {{ props.row.phone }}
    </q-td>

    <q-td key="workshop" :props="props">
      {{ props.row.workshop }}
    </q-td>

    <q-td key="action" :props="props">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          :to="{ name: 'EditModerator', params: { id: props.row.id } }"
          flat
          round
          color="warning"
          icon="create"
        />

        <q-btn
          v-if="!isLoggedInUser"
          @click="showDeleteDialog = true"
          flat
          round
          color="negative"
          icon="remove_circle"
        />

        <q-dialog v-model="showDeleteDialog">
          <q-card>
            <q-card-section class="bg-negative text-white">
              {{ $t('delete-user') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-delete-user', { name: props.row.name }) }}
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="deleteUser" color="negative">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-td>
  </q-tr>
</template>

<script>
import { Plugins } from '@capacitor/core'
import { deleteUser } from 'api/user'
import { getErrorMsgFromResponse } from 'utils'

const { Storage } = Plugins

export default {
  name: 'ModeratorTableRow',

  props: ['props'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: '',
      loggedInUser: {}
    }
  },

  computed: {
    isLoggedInUser () {
      return this.loggedInUser && (this.loggedInUser.id === this.props.row.id)
    }
  },

  methods: {
    async deleteUser () {
      try {
        this.loading = true
        this.error = false

        await deleteUser(this.props.row.id)

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('user-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('user-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  async mounted () {
    // Get logged in user from storage
    const userObject = await Storage.get({ key: process.env.STORAGE_USER_KEY })
    const user = JSON.parse(userObject.value)

    this.loggedInUser = user
  }
}
</script>
