<template>
  <q-page class="flex flex-center">
    <q-card class="auth">
      <q-card-section>
        <h4 class="text-center q-mb-none">
          {{ $t('login') }}
        </h4>
      </q-card-section>

      <q-card-section>
        <q-form
          ref="form"
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            v-model="email"
            :label="$t('email')"
            lazy-rules
            :rules="[rules.required, rules.isValidEmail]"
          >
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>

          <q-input
            type="password"
            v-model="password"
            :label="$t('password')"
            lazy-rules
            :rules="[rules.required]"
          >
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('login') }}

              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" color="primary" flat class="q-ml-sm" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { Plugins } from '@capacitor/core'
import { login } from 'api/auth'
import { getErrorMsgFromResponse } from 'utils'

const { Storage } = Plugins

export default {
  name: 'Login',

  data() {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      email: null,
      password: null,
      rules: {
        required: val => val && val.length > 0 || this.$t('required-field'),
        isValidEmail: val => this.isValidEmail(val)
      }
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async onSubmit() {
      try {
        if (this.$refs.form.validate()) {
          this.loading = true
          this.error = false

          const data = {
            email: this.email,
            password: this.password
          }

          const response = await login(data)

          this.loading = false

          const { token, user } = response.data

          // Save user and token to Storage
          await Storage.set({
            key: process.env.STORAGE_USER_KEY,
            value: JSON.stringify(user)
          })

          await Storage.set({
            key: process.env.STORAGE_TOKEN_KEY,
            value: token
          })

          // Commit loggedIn status and user to store
          this.$store.commit('auth/setUser', user)
          this.$store.commit('auth/setLoggedIn', true)

          // Redirect user
          const redirectUrl = this.$route.query.redirect || '/'

          this.$router.push({ path: redirectUrl })

          this.$q.notify({
            color: 'positive',
            icon: 'check',
            message: this.$t('login-successful'),
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset() {
      this.email = null
      this.password = null

      // Reset validations
      this.$refs.form.resetValidation()
    }
  }
}
</script>
