<template>
  <div class="create-moderator">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('add-moderator') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.firstName"
            :label="$t('first-name')"
            name="first_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.middleName"
            :label="$t('middle-name')"
            name="middle_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.lastName"
            :label="`${$t('last-name')} *`"
            name="last_name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.email"
            :label="`${$t('email')} *`"
            name="email"
            type="email"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              isValidEmail
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="alternate_email" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.phone"
            :label="`${$t('phone')} *`"
            name="phone"
            type="tel"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="phone" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.workshop"
            :options="formattedWorkshops"
            :label="$tc('workshops', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="home_repair_service" />
            </template>
          </q-select>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { createUser } from 'api/user'
import { getWorkshops } from 'api/workshop'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'CreateModerator',

  data () {
    return {
      form: {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        role: 'moderator',
        workshop: null
      },
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mWorkshops () {
      return this.$store.state.workshops.workshops
    },

    formattedWorkshops () {
      return this.mWorkshops.map(w => ({
        label: w.title,
        value: w.id
      }))
    }
  },

  methods: {
    async getWorkshops () {
      try {
        this.error = false

        const response = await getWorkshops()

        const workshops = response.data

        // Commit workshops to store
        this.$store.commit('workshops/setWorkshops', workshops)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const data = {
          'first_name': this.form.firstName,
          'middle_name': this.form.middleName,
          'last_name': this.form.lastName,
          'email': this.form.email,
          'phone': this.form.phone,
          'role': this.form.role,
          'workshop_id': this.form.workshop
        }

        await createUser(data)

        // Redirect to moderators page
        this.$router.push({ name: 'Moderators' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('user-created'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        workshop: null
      }
    }
  },

  mounted () {
    this.getWorkshops()
  }
}
</script>

<style lang="scss" scoped>
.q-page {
  margin: auto;
  width: 50%;
}
</style>
