<template>
  <div class="edit-workshop">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('edit-workshop') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.title"
            :label="`${$tc('titles', 1)} *`"
            name="title"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="home_repair_service" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.topic_id"
            :options="formattedTopics"
            :label="$tc('topics', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="topic" />
            </template>
          </q-select>

          <q-select
            filled
            v-model="form.speaker_id"
            :options="formattedUsers"
            :label="$tc('speakers', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="record_voice_over" />
            </template>
          </q-select>

          <q-select
            filled
            v-model="form.session"
            :options="sessions"
            :label="$tc('sessions', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="schedule" />
            </template>
          </q-select>

          <q-editor v-model="form.outline" min-height="5rem" />

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { getTopics } from 'api/topic'
import { getUsers } from 'api/user'
import { getWorkshop, updateWorkshop } from 'api/workshop'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'EditWorkshop',

  data () {
    return {
      workshopId: this.$route.params.id,
      form: {
        topic_id: null,
        speaker_id: null,
        title: '',
        outline: '',
        session: 'morning'
      },
      sessions: [
        { label: this.$t('session.morning'), value: 'morning' },
        { label: this.$t('session.afternoon'), value: 'afternoon' },
        { label: this.$t('session.closing'), value: 'closing' }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mWorkshop () {
      return this.$store.state.workshops.workshop
    },

    mUsers () {
      const users = this.$store.state.users.users

      return users.filter(u => u.speaker.type === 'regular')
    },

    formattedUsers () {
      return this.mUsers.map(u => ({
        label: `${u.first_name || ''} ${u.middle_name || ''} ${u.last_name}`,
        value: u.id
      }))
    },

    mTopics () {
      return this.$store.state.topics.topics
    },

    formattedTopics () {
      return this.mTopics.map(t => ({
        label: t.name,
        value: t.id
      }))
    }
  },

  methods: {
    async getWorkshop () {
      try {
        this.error = false

        const response = await getWorkshop(this.workshopId)

        const workshop = response.data

        // Populate form data
        this.form.topic_id = workshop.topic_id
        this.form.speaker_id = workshop.speaker_id
        this.form.title = workshop.title
        this.form.outline = workshop.outline
        this.form.session = workshop.session

        // Commit workshop to store
        this.$store.commit('workshops/setWorkshop', workshop)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getSpeakers () {
      try {
        this.error = false

        const params = {
          role: 'speaker'
        }

        const response = await getUsers(params)

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getTopics () {
      try {
        this.error = false

        const response = await getTopics()

        const topics = response.data

        // Commit topics to store
        this.$store.commit('topics/setTopics', topics)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        await updateWorkshop(this.workshopId, this.form)

        // Redirect to workshops page
        this.$router.push({ name: 'Workshops' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('workshop-edited'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        speaker_id: null,
        topic_id: null,
        title: '',
        outline: '',
        session: 'morning'
      }
    }
  },

  mounted () {
    this.getWorkshop()
    this.getSpeakers()
    this.getTopics()
  }
}
</script>

<style lang="scss" scoped>
.q-page {
  margin: auto;
  width: 50%;
}
</style>
