<template>
  <div class="workshops">
    <q-page class="q-pa-md">
      <q-table
        :title="$tc('workshops', 2)"
        :data="mWorkshops"
        :columns="columns"
        row-key="title"
        :loading="loading"
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <template v-slot:body="props">
          <workshop-table-row :props="props" @workshop-deleted="onWorkshopDelete" />
        </template>
      </q-table>

      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn :to="{ name: 'CreateWorkshop' }" fab icon="add" color="primary" />
      </q-page-sticky>
    </q-page>
  </div>
</template>

<script>
import { getWorkshops } from 'api/workshop'
import WorkshopTableRow from 'components/Workshops/TableRow'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'Workshops',

  components: { WorkshopTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mWorkshops () {
      return this.$store.state.workshops.workshops
    },

    columns () {
      return [
        {
          name: 'title',
          required: true,
          label: this.$tc('titles', 1),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'topic', align: 'left', label: this.$tc('topics', 1), field: 'topic', sortable: true },
        { name: 'speaker', align: 'left', label: this.$tc('speakers', 1), field: 'speaker', sortable: true },
        { name: 'session', align: 'left', label: this.$tc('sessions', 1), field: 'session', sortable: true },
        { name: 'outline', align: 'left', label: this.$t('outline'), field: 'outline', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getWorkshops () {
      try {
        this.loading = true
        this.error = false

        const response = await getWorkshops()

        this.loading = false

        const workshops = response.data

        // Commit workshops to store
        this.$store.commit('workshops/setWorkshops', workshops)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onWorkshopDelete (id) {
      const workshops = this.mWorkshops.filter(w => w.id !== id)

      this.$store.commit('workshops/setWorkshops', workshops)
    }
  },

  async mounted () {
    this.getWorkshops()
  }
}
</script>
