<template>
  <q-tr :props="props">
    <q-td key="name" :props="props">
      {{ props.row.name }}
    </q-td>

    <q-td key="description" :props="props">
      {{ description }}

      <q-tooltip>
        {{ props.row.description }}
      </q-tooltip>
    </q-td>

    <q-td key="action" :props="props">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          :to="{ name: 'EditTopic', params: { id: props.row.id } }"
          flat
          round
          color="warning"
          icon="create"
        />

        <q-btn
          @click="showDeleteDialog = true"
          flat
          round
          color="negative"
          icon="remove_circle"
        />

        <q-dialog v-model="showDeleteDialog">
          <q-card>
            <q-card-section class="bg-negative text-white">
              {{ $t('delete-topic') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-delete-topic', { name: props.row.name }) }}
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="deleteTopic" color="negative">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-td>
  </q-tr>
</template>

<script>
import { deleteTopic } from 'api/topic'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'TopicTableRow',

  props: ['props'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    description () {
      const fullDescription = this.props.row.description

      if (!fullDescription) return ''

      return fullDescription.length > 30 ?
        `${fullDescription.substring(0, 30)}...` :
        fullDescription
    }
  },

  methods: {
    async deleteTopic () {
      try {
        this.loading = true
        this.error = false

        await deleteTopic(this.props.row.id)

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('topic-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('topic-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  }
}
</script>
