<template>
  <div class="admins">
    <q-page class="q-pa-md">
      <q-table
        :title="$tc('admins', 2)"
        :data="formattedUsers"
        :columns="columns"
        row-key="name"
        :loading="loading"
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <template v-slot:body="props">
          <admin-table-row :props="props" @user-deleted="onUserDelete" />
        </template>
      </q-table>

      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn :to="{ name: 'CreateAdmin' }" fab icon="add" color="primary" />
      </q-page-sticky>
    </q-page>
  </div>
</template>

<script>
import { getUsers } from 'api/user'
import AdminTableRow from 'components/Users/Admins/TableRow'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'Admins',

  components: { AdminTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      searchedName: null
    }
  },

  computed: {
    mUsers () {
      return this.$store.state.users.users
    },

    formattedUsers () {
      return this.mUsers.map(u => ({
        id: u.id,
        name: `${u.first_name || ''} ${u.middle_name || ''} ${u.last_name}`,
        email: u.email,
        phone: u.phone,
        action: ''
      }))
    },

    columns () {
      return [
        {
          name: 'name',
          required: true,
          label: this.$t('name'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'email', align: 'left', label: this.$t('email'), field: 'email', sortable: false },
        { name: 'phone', align: 'left', label: this.$t('phone'), field: 'phone', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getUsers () {
      try {
        this.loading = true
        this.error = false

        const params = {
          name: this.searchedName,
          role: 'admin'
        }

        const response = await getUsers(params)

        this.loading = false

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onUserDelete (id) {
      const users = this.mUsers.filter(u => u.id !== id)

      this.$store.commit('users/setUsers', users)
    }
  },

  async mounted () {
    this.getUsers()
  }
}
</script>
