// Variables
@import "quasar.variables";

@font-face {
  font-family: muli;
  src: url(../assets/fonts/Mulish-VariableFont_wght.ttf);
}

// Declare a class which applies it
.muli-font {
  font-family: 'muli';
}

body {
  font-family: 'muli';
}

.q-page-container {
  background-image: url('../assets/img/bg-blue-jean-fabric.jpg');
  background-repeat: repeat;
}

.q-table th {
  font-weight: bold;
}

// Component Styles
@import "components/links";
