<template>
  <q-tr :props="props">
    <q-td key="title" :props="props">
      {{ props.row.title }}
    </q-td>

    <q-td key="topic" :props="props">
      {{ topic }}
    </q-td>

    <q-td key="speaker" :props="props">
      {{ speaker }}
    </q-td>

    <q-td key="session" :props="props">
      {{ $t(`session.${props.row.session}`) }}
    </q-td>

    <q-td key="outline" :props="props">
      <div v-html="outline"></div>

      <q-tooltip>
        <div v-html="props.row.outline"></div>
      </q-tooltip>
    </q-td>

    <q-td key="action" :props="props">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          :to="{ name: 'EditWorkshop', params: { id: props.row.id } }"
          flat
          round
          color="warning"
          icon="create"
        />

        <q-btn
          @click="showDeleteDialog = true"
          flat
          round
          color="negative"
          icon="remove_circle"
        />

        <q-dialog v-model="showDeleteDialog">
          <q-card>
            <q-card-section class="bg-negative text-white">
              {{ $t('delete-workshop') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-delete-workshop', { name: props.row.title }) }}
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="deleteWorkshop" color="negative">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-td>
  </q-tr>
</template>

<script>
import { deleteWorkshop } from 'api/workshop'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'WorkshopTableRow',

  props: ['props'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    topic () {
      return this.props.row.topic.name || ''
    },

    speaker () {
      const speaker = this.props.row.speaker || {}

      const speakerName = speaker ? `${speaker.first_name || ''} ${speaker.middle_name || ''} ${speaker.last_name}` : ''

      return speakerName;
    },

    outline () {
      const fullOutline = this.props.row.outline

      if (!fullOutline) return ''

      return fullOutline.length > 30 ?
        `${fullOutline.substring(0, 30)}...` :
        fullOutline
    }
  },

  methods: {
    async deleteWorkshop () {
      try {
        this.loading = true
        this.error = false

        await deleteWorkshop(this.props.row.id)

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('workshop-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('workshop-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  }
}
</script>
